* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background: #000000;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    padding-top: 22px;
    padding-bottom: 22px; 
    padding-left: 30px;
    padding-right: 437px;
}

.nav--img {
    margin-right: 8px;
}

.nav--title {
    color: #FF5A5F;
    font-size: 20px;
}

.mid--div {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.mid-sec-img {
    width: 50%;
    height: auto;
    align-self: center;
}

.mid--heading {
    margin-bottom: 16px;
    font-size: 50px;
}

.mid--para {
    margin-top: 0px;
    font-size: 30px;
}

.card {
    width: 175px;
    font-size: 12px;
}

.card--image {
    width: 100%;
    border-radius: 9px;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}